@charset "UTF-8";
body {
	padding-top: 150px;
	/* border: red solid 2px; */
}

.board {
	border: #F2F2F2 2px solid;;
	
}

.content {
	border: #F2F2F2 2px solid;
	width: 100%;
	height: 800px;
}

#title-input {
	width: 800px;
}

.textbox {
	border: #F2F2F2 2px solid;
	position: relative;
	left: 10px;
}

.tg {
	border-collapse: collapse;
	border-spacing: 0;
}

.tg td {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
}

.tg th {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
}

.tg .tg-0lax {
	text-align: left;
	vertical-align: top
}

.boxbox {
	position: relative;
	padding-bottom: 2%;
	padding-top: 2%;
	left : 2%;
}